.question {
	color: #0779e4;
}

.answer {
	color: #323232;
}

h5 > a {
	color: #767676;
	/* text-decoration: underline; */
	background: #f6f6f6;
}

/* .about-heading {
	margin: 0 auto;
	font-weight: 1000;
	font-size: 42pt;
} */

.parent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-pic {
	height: 200px;
	width: 200px;
}
